@media screen and (max-width: 767px) {
  body p, li {
    font-size: 2em;
    width: auto;
  }

  #navigation {
    display: none;
  }

  #navigation ul {
    flex-direction: column;
  }

  .wrapper {
    flex-direction: column;
    width: auto;
    float: none;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  ul li {
    font-size: 2em;
  }

  .about_me {
    width: auto;
    padding: 2%;
  }

  .photo_info {
    width: auto;
    padding: auto;
    line-height:1.2;
  }

  .iconsbar {
    width: auto;
  }

  .timeline {
    margin: auto;
    padding: 0;
    width: 80%;
  }

  .timeline::before {
    display: none;
  }

  .timeline ul {
    width: 100%;
  }

  .timeline ul li {
    width: 100%;
    padding: 0;
  }

  .timeline ul li p {
    width: 100%;
    margin: auto;
  }

  .content_education, .content_experience {
    width: 100%;
    margin-top: 10%;
    padding: 0;
  }

  .content_education p, .content_experience p {
    width: 100%;
    margin: auto;
    padding: auto;
    line-height: 1.2;
    font-size: 1.5em;
    text-align: justify;
  }

  .skills_language {
    margin: auto;
    padding: 0;
  }

  .skills_language img {
    width: 30%;
    display: inline-block;
    margin: auto;
  }

  .hobbies {
    margin: auto;
    padding: 0;
  }

  .hobbies img {
    width: 25%;
    margin-top: auto;
  }

  footer {
    display: inline-block;
    height: 8%;
    background: #F2F2F2;
    clear: both;
  }
}
