@media screen and (min-width: 768px) and (max-width:991px) {
  body {
    width: auto;
  }

  #navigation {
    width: auto;
    text-align: left;
  }

  #navigation ul {
    flex-direction: column;
  }

  .wrapper {
    flex-direction: column;
  }
}
