/* used "border 1px solid color" to differentiate "div" */

html,
body {
  background-color: #f9fafa;
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: #20303c;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box; /*  timeline property */
}

header {
  border: 1px solid red;
  background-color: #F2F2F2;
  width: 100%;
  position: fixed;
  z-index: 1000;  /* use to stay the position at fixed */
}

header h1 {
  margin-left: 2%;
}

.name {
  border: 1px solid green;
  display: flex;
}

.name nav {
  float: right;
  width: 80%;
  margin-left: 20%;
}


#hobbies_nav h2, #experience_nav h2,
#skills_language_nav h2, #education_nav h2 {
  padding-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

#navigation {
  border: 1px solid black;
  list-style: none;
}

#navigation li {
  border: 1px solid black;
  background: #f9fafa;
  color: #20303c;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
}

#navigation li a {
  display: block;
  background: #F2F2F2;
  color: #20303c;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4%;
}

#navigation li a:hover, #navigation li a:focus,
#navigation li a:active {
  opacity: 0.5;
}

.wrapper {
  border: 1px solid yellow;
  padding-top: 15%;
}

li {
  list-style: none;
}


.about_me {
  padding: 5%;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid black;
}

.photo_info {
  margin-bottom: 25%;
  border: 1px solid purple;
}

.photo {
  border: 1px solid orange;
  width: 50%;
  float: left;
}

.photo img {
  margin-left: 50%;
}

.info ul {
  border: 1px solid blue;
  width: 40%;
  float: right;
}

.info a {
  text-decoration: none;
  color: inherit;
}

#age {
  border: 1px solid red;
}

.iconsbar {
  background-color: #20303c;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  border: 1px solid green;
}

.iconsbar li {
  display: inline;
  padding: 4%;
}


/* TRY TIMELINE EDUCATION
change px to % add mediaQ  change color */


/*  timeline vertical ruler */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  background-color: grey;
  width: 3px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 9.5%;
  background-color: white;
  border: 3px solid #20303c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* place the container to the left */
.left {
  left: 0;
}

/* place the container to the right */
.right {
  left: 50%;
}

/* fix the circle for containers on the right side */
.right::after {
  left: -2.5%;
}

/* actual content */
.content_education, .content_experience {
  padding: 20px 30px;
  margin-left: 40px;
  background-color: #F2F2F2;
  position: relative;
  border-radius: 6px;
}

/* end timeline education, experience */


.skills_language {
  background-color: #F2F2F2;
  width: 100%;
  height: 30%;
  border: 1px solid blue;
}

.logo_avatar, .logo_html, .logo_git, .docker_logo, .logo_php, .sql_logo {
  border: 1px solid red;
  display: flex;
  width: 30%;
}

.logo_avatar {
  margin-left: 45%;
  margin-bottom
}

.logo_html {
  margin-left: 40%;
}

.logo_git {
}

.hobbies {
  border: 1px solid grey;
}

.hobbies img {
  margin-left: 19.5%;
  margin-bottom: 5%;
  border: 1px solid red;
}

/* style modal_hobbies */
.modal_content {
  position: relative;
  width: 30%;
  height: 50%;
  margin-bottom: ;
  margin-left: 37%;
  opacity: 0.70;
  border: 3px solid red;
}

footer {    /* bug - modal    iconsbar colors change in progress */
  background-color: #F2F2F2;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
}

footer p {
  text-align: right;
  margin-right: 2%;
  font-size: 0.6em;
  }   /* impossible to enlarge footer */

.contact_items {
  border: 1px solid red;
}
