/* border 1px solid color :
   Permet de différencier les div */

html {
  background-color: #ECF0F1;
  font-family: 1em "Trebuchet MS",Arial,sans-serif;
}

header {
  background-color: #212121;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
}

.job h1 {
  font-style: italic;
  text-align: center;
  margin-right: 15%;
  color: #ECF0F1;
}

.formations h2, .skillslanguage h2,
.experience h2, .hobbies h2 {
  font-style: italic;
}

.photo :first-child {
  float: left;
}

#age {
  margin-left: 5%;
  width: 5%;
  color: #ECF0F1;
}

/* Barre de navigation */
#navigation {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  background: #212121;
  color: #fff;
  border: 1px solid #212121;
  float: right;
  width: 19.8%;
}

#navigation li a {
  display: block;
  background: #212121;
  color: #ECF0F1;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4px 0;
  margin: 12px;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #2C3E50;
}


/* Contenu principaldu Cv */
.wrapper {
  clear: both;
  margin: 0 auto;
  width: 80%;
  padding-top: 25%;
  color: #212121;
}

.wrapper li {
  padding: 1%;
}

li {
  list-style: none;
}


.aboutme {
  text-align: center;
  padding-bottom: 10%;
  margin-left: 4%;
  font-style: italic;
  font-size: 1.5rem;
}

.aboutme img {
  padding-top: 2%;
  margin-right: 4%;
}


.formations h2 {
  text-align: center;
  margin-right: auto;
  padding-top: 5%;
}

.formations li {
  text-align: center;
  font-size: 1.2rem;
  margin-right: 4%;
}


.skillslanguage h2 {
  text-align: center;
  margin-right: auto;
  padding-top: 5%;
}

.skillslanguage p {
  text-align: center;
}


.experience h2 {
  text-align: center;
  margin-right: auto;
  padding-top: 5%;
}

.experience li {
  text-align: center;
  font-size: 1.2rem;
  margin-right: 4%;
}


/* check si le "dialogue func Js" doit-être modifier en css */

.hobbies h2 {
  text-align: center;
  margin-right: auto;
  padding-top: 5%;
}

.hobbies img {
  display: inline-block;
  margin-left: 17.5%;
}


/* Mise en forme de la modal_hobbies */
.modal_content {
  width: 30%;
  height: 60px;
  margin-bottom: 40px;
  margin-left: 380px;
  opacity: 0.70;
}


/* Bas de page - footer */
footer {
  background-color: #212121;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
}

.contactitems li {
  display: inline-block;
  margin-left: 21.5%;
}


/* Test modale JS */
